/* import styles.css, so no need to copy code over*/
@import url("styles.css");

/* CSS rules for desktops */
@media only screen and (min-width: 769px) {
  #Adiv {
    float: left;
    width: 25%;
  }

  #Cdiv {
    position: absolute;
    left: 25%;
    width: 25%;
  }

  #Ddiv {
    position: absolute;
    left: 50%;
    width: 25%;
  }

  #Bdiv {
    float: right;
    width: 20%;
  }
}
