.set {
  background-color: rgb(183, 114, 248);
  color: azure;
  border: 2px solid #3c3c3c;
  /* Set the margin space 15px between HTML elements */
  margin: 15px;
  /*  Set the padding to 10px to control the space between an HTML element's content and its border */
  padding: 10px;
}

li {
  width: 100px;
  height: 25px;
  background-color: gray;
  border: 2px solid #3c3c3c;
  margin: 10px;
  padding: 5px;
}

ul {
  list-style-type: none;
}

li:hover {
  background-color: red;
}

#MyTitle {
  padding: 20px;
  width: 100%;
  background-color: wheat;
}

#MyTitle h1 {
  margin: 0;
}

#MyFoot {
  /* Fixed  position so that it stays there even if the user scrolls the page */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: wheat;
  margin: 5px;
}

#MyFoot p {
  text-align: center;
}

body {
  /* Relative position so the absolutely positioned elements C and D are relative to this */
  position: relative;
  font-family: "Courier New", Courier, monospace;
}
