/* import styles.css, so no need to copy code over*/
@import url("styles.css");

/* CSS rules for tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #Adiv {
    float: left;
    z-index: 2;
  }

  #Cdiv {
    position: absolute;
    bottom: 20;
  }

  #Ddiv {
    position: absolute;
    bottom: 20;
    /* D right is zero to macth with B */
    right: 0;
  }

  #Bdiv {
    float: right;
    /* B right is zero to macth with D */
    right: 0;
    z-index: 2;
  }
}
